<%= javascript 'wesabe/views/widgets/page-sidebar' %>

<div id="left">
  <div class="one-column">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle"><div class="right">
      <div class="content">
        <div class="module-header">
          <h5>About Us</h5>
        </div>
        <ul class="one-col-list">
          <li><%= link_to "What is Wesabe?", what_url %></li>
          <li><%= link_to "Contributing", contribute_url %></li>
        </ul>
      </div>
    </div></div>
    <div class="bottom"><div class="right"></div></div>
  </div>
  <div class="one-column">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle"><div class="right">
      <div class="content">
        <div class="module-header">
          <h5>Security &amp; Privacy</h5>
        </div>
        <ul class="one-col-list">
          <li class="even"><%= link_to "Terms of Use", "/page/terms" %></li>
        </ul>
      </div>
    </div></div>
    <div class="bottom"><div class="right"></div></div>
  </div>
  <div class="one-column">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle"><div class="right">
      <div class="content">
        <div class="module-header">
          <h5>Get More from Wesabe</h5>
        </div>
        <ul class="one-col-list">
           <!-- <li><%# link_to "Wesabe API", api_overview_url %></li> -->
        </ul>
      </div>
    </div></div>
    <div class="bottom"><div class="right"></div></div>
  </div>
</div>
