<% set_page_title "Contributing to Wesabe" %>
<div id="right">
  <div class="two-column" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle">
      <div class="right">
        <div class="content">
          <div class="module-header">
            <div id="about">
              <h1>Contributing to Wesabe</h1>

              <strong>Wesabe is an open-source project and is hosted on github.com.</strong>
              <p>
                Visit <a href="http://github.com/wesabe/wesabe">github.com/wesabe/wesabe</a> to get started.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom"><div class="right"></div></div>
  </div>
</div>
<%= render :partial => 'page/sidebar'%>