<% set_page_title "Help - Groups and Discussions" %>

<div id="right">
  <div class="two-column" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle">
      <div class="right">
        <div class="content">
          <div class="module-header">
            <h1>Groups and Discussions</h1>
            <h5 class="intro">This section of the manual explains what the difference is between groups and discussions, and how to join groups, and create new groups and discussions.</h5>
          </div>
          <div class="indent1">
            <h3>About Groups and Discussions</h3>
            <p>Groups and discussions are related, but they're different, and you sign up for them in slightly different ways. Groups represent a broad area of interest, while the discussions are for specific questions or concerns. For example, a &ldquo;Travel&rdquo; group might have discussions about frequent flier miles, the best time to travel to Europe, currency exchange rates, or any other travel related topic. You can choose to follow either a particular discussion, or all the discussions in a group.</p>
            <h3>Groups</h3>
              <h4>Joining a group</h4>
              <p>There are several ways to find a group that matches your interests. You can either browse groups (by popularity or alphabetically), or you can use the groups search box to find topics that you&rsquo;re interested in. Once you&rsquo;ve found a group, click on its title to go to the group page. Click <strong>Join Group</strong> to join the group and to sign up to receive an email each time there&rsquo;s a new post in any of the group discussions. If you don&rsquo;t want to receive emails, click the <strong>Stop following</strong> link at the top of the page.</p>
              <h4>Starting a group</h4>
              <p>If you&rsquo;re sure that there&rsquo;s no existing group that&rsquo;s appropriate for what you want to discuss, you can create a new group. To create a group, do the following:</p>
              <ol>
                <li>Click on the <strong>Groups</strong> tab to go to the Groups page.</li>
                <li>In the Explore Groups panel, click <strong>Browse All Groups</strong>.</li>
                <li>Scroll to the bottom of the page, and click the <strong>Create a Group</strong> button. An edit panel will open. </li>
                <li>Enter the Group name and description, and click <strong>Create</strong>.</li>
              </ol>
            <h3>Discussions</h3>
              <h4>Adding to a discussion</h4>
              <p>To add your comments to a discussion, do the following:</p>
                <ol>
                  <li>Click on the name of any discussion.</li>
                  <li>Scroll to the bottom of the page, and add a comment in the discussion field.</li>
                  <li>Choose &ldquo;Follow this discussion by email&rdquo; if you want to be notified when new comments are added.</li>
                  <li>Click <strong>Add Comment</strong>. </li>
                </ol>
                <h4>Creating a new discussion</h4>
                <p>To create a new discussion, do the following:</p>
                  <ol>
                    <li>Click on the name of an appropriate parent group.</li>
                    <li>Click the <strong>Start a Discussion</strong> button. An edit panel will open</li>
                    <li>Name the discussion, and write your comment or question in the comment field.</li>
                    <li>Choose &ldquo;Follow this discussion by email&rdquo; if you want to be notified when new comments are added.</li>
                    <li>Click <strong>Create</strong>. </li>
                  </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom"><div class="right"></div></div>
  </div>
</div>
<%= render :partial => 'page/help_sidebar' %>
<div class="clear"></div>