<% set_page_title "Help - Cash Accounts" %>

<div id="right">
  <div class="two-column" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle"><div class="right">
    <div class="content">
      <div class="module-header">
        <h1>Cash Accounts</h1>
        <h5 class="intro">This section of the manual contains information about creating and using Cash accounts.</h5>
      </div>

      <div class="indent1">
          <h3>Cash Accounts</h3>

            <p>Cash accounts are available on the site by going to the <a href="/uploads/new">Add Accounts</a> page, then clicking <strong>Create a Cash Account</strong>. You can enter the amount spent or earned, tag transactions, and generally treat them like any other account. You can also use a cash account with a balance to track transactions for any account that we don't yet support or that doesn't provide an export method.</p>

          <h3>Balances on Cash Accounts</h3>

            <p>Cash accounts don't have a balance by default, since many people want to keep track of major purchases but don't want to keep track of every minor cash transaction. You can add balances to your cash accounts if you want, though.</p>
            <p>To add a balance to a cash account, do the following:</p>
              <ol>
                <li>Click on the <strong>My Accounts</strong> tab to view your list of accounts.</li>
                <li>Click the <strong>Edit</strong> button at the top of the My Accounts panel. </li>
                <li>Click the edit button (the pencil icon) next to the account. An edit panel will open.</li>
                <li>Click <strong>Track balance</strong>.</li>
                <li> Set your current balance in the balance field that appears, and then click <strong>Save</strong>.</li>
              </ol>

          </div>
        </div>
        </div></div>
        <div class="bottom"><div class="right"></div></div>
      </div>
    </div>
    <%= render :partial => 'page/help_sidebar' %>
    <div class="clear"></div>