<% set_page_title "Help - Targets" %>

<div id="right">
  <div class="two-column" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle"><div class="right">
    <div class="content">
      <div class="module-header">
        <h1>Targets</h1>
        <h5 class="intro">This section of the manual contains information about creating and using Targets.</h5>
      </div>

      <div class="indent1">

            <h3>About Targets</h3>

             <p>Targets are monthly spending goals based on tags. We very deliberately made the targets as simple as possible - the idea is to give people a tool to focus on the few areas where they can make a difference for themselves and not worry about anything else. If you can see that you eat out too much, you can just set a target for &ldquo;restaurants&rdquo; and you're done.</p>

              <h3>Adding Targets</h3>

              <p>To add a target do the following:</p>
              <ol>
                <li>Click on the Graph icon to view your dashboard .</li>
                <li>Click the <strong>Add Spending Targets</strong> button at the top of the Spending Targets panel. An edit panel will open.</li>
                <li>In the edit panel, enter the tag you want to set a target for, and the monthly spending target that you want.</li>
                <li>Click the <strong>Save</strong> button to set the target.  </li>
              </ol>

              <h3>Deleting Targets</h3>

              <p>To delete a target do the following:</p>
              <ol>
                <li>Click on the Graph icon to view your dashboard .</li>
                <li>In the Targets panel, hover over the target you want to delete, and click the delete button (the minus sign) that appears on the right to delete the target.</li>
              </ol>

              <h3>Changing Targets</h3>

              <p>To change a target do the following:</p>
              <ol>
                <li>Click on the Graph icon to view your dashboard .</li>
                <li>In the Targets panel, hover over the target you want to change, and click the edit button (the pencil icon) that appears on the left. An edit panel will open.</li>
                <li>In the edit panel, enter a new monthly spending target.</li>
                <li>Click the <strong>Save</strong> button to set the target.</li>
              </ol>

          </div>
        </div>
        </div></div>
        <div class="bottom"><div class="right"></div></div>
      </div>
    </div>
    <%= render :partial => 'page/help_sidebar' %>
    <div class="clear"></div>
