<% set_page_title "Help - Password Problems" %>

<div id="right">
  <div class="two-column" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle">
      <div class="right">
        <div class="content">
          <div class="module-header">
        <h1>Password Problems</h1>
        <h5 class="intro">This section of the manual contains troubleshooting information for password problems.</h5>
          </div>
          <div class="indent1">

              <h3>Retrieving an Account Without a Password</h3>
                <p>Due to the way our privacy wall works, it&rsquo;s very difficult for us to recover account data when users don&rsquo;t have either a working password or working security answers. (The privacy wall is designed to protect your privacy: you can read more about it <a href="http://blog.wesabe.com/index.php/2007/02/23/safeguarding-your-data-the-privacy-wall/">here</a>).</p>
                <p>If you haven't uploaded and tagged much information, it might be easiest for you just to create a new account. (They&rsquo;re free, after all.)</p>
                <p>If this would mean losing a lot of data, though, we can try to recover your accounts manually. We would need to know your username, the last four digits of one of the bank accounts you've uploaded, as well as the name of that bank.</p>
                <p>We&rsquo;ll then try and find your account in the system; to verify that it&rsquo;s really your account, we&rsquo;ll ask you about recent transactions. If everything checks out, we&rsquo;ll be able to reset your password and re-connect your accounts.</p>

              <h3>Firefox Password Manager</h3>
              <p>We don&rsquo;t use the Firefox password manager to store passwords for the Firefox uploader due to valid security concerns - a malicious extension would be able to exploit any data stored there.</p>
                <p>With this in mind we used an encryption library (AES with a 256 bit keysize) that&rsquo;s widely trusted in the javascript development community. The key is your Wesabe password and not Firefox&rsquo;s master password. The key is also never stored on disk, and it is the only way to decrypt the encrypted scripts.</p>

              <h3>Resetting a Password in the  <br/>Desktop Uploader</h3>
                <p>If you change your password at your bank, and you&rsquo;re using the Desktop uploader, you&rsquo;ll need to reset the password in the uploader too. To do that, open the uploader, and select the account that that you want to update. Select <strong>Account &gt; Change Bank Password</strong>, and change the password to match what you&rsquo;re using at the bank.</p>

              <h3>Resetting a Password in the Firefox Uploader</h3>
                <p>If you change your password at your bank, and you&rsquo;re using the Firefox uploader, you&rsquo;ll need to reset the password in the uploader too. To do that, click the &lsquo;W&rsquo; icon in the Firefox browser, and then select <strong>Accounts &gt; [account name] &gt; Remove from list</strong>. You'll have to add your accounts to the Uploader again, but you won&rsquo;t have to re-upload any data and everything that&rsquo;s already uploaded will be preserved.</p>

              <h3>The Bank Password Doesn&rsquo;t Work with Wesabe Uploaders</h3>
                <p>There are a few banks that use random elements to create a more difficult login procedure, and those strategies currently make it impossible for the Firefox extension to login correctly. Some sites will maintain a different username or password for programs like Quicken, or our Uploader, to get data from the site. For instance, one bank, USAA, has customers log in with a password when using the web site through a web browser, but then has them log in with my PIN when using Quicken or the Uploader.</p>
                <p>If you&rsquo;re sure you&rsquo;re using the correct username and password, you might call the bank and ask if they require any special setup to use Quicken (they may not claim to support this site yet, but the process Quicken uses is the same as the process we use, so asking about Quicken should get you the right information).</p>


          </div>
        </div>
      </div>
    </div>
    <div class="bottom"><div class="right"></div></div>
  </div>
</div>
<%= render :partial => 'page/help_sidebar' %>
<div class="clear"></div>