<% set_page_title "Help - Viewing Transactions" %>

<div id="right">
  <div class="two-column flat" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle"><div class="right">
    <div class="content">
      <div class="module-header">
        <h1>Viewing Transactions</h1>
        <h5 class="intro">This section of the manual contains instructions for viewing transactions by tag, by account, and by a combination of both accounts and tags.</h5>
        </div>
        <div class="indent1">
            <p>By default your transaction list shows all your transactions from all your accounts. You can select a subset of your transactions by doing the following: </p>
            <ul>
              <li type="square">To show only the transactions from a particular account, click that account  in the <strong>My Accounts</strong> pane.</li>
              <li type="square">To show only the transactions in a particular account group (such as Cash, Checking, and Credit Card), click that account group name in the <strong>My Accounts</strong> pane.</li>
              <li type="square">To show only the transactions with a particular tag, click the appropriate tab in the <strong>My Tags</strong> pane.</li>
            </ul>
            <p>You can select transactions from multiple accounts or tags by doing the following: </p>
            <ul>
              <li type="square">To show only the transactions from a particular set of accounts, Ctrl-click (Windows) or Command click (Macintosh) each account name in the <strong>My Accounts</strong> pane.</li>
              <li type="square">To show transactions with a particular set of tags, Ctrl-click (Windows) or Command-click (Macintosh) each tag in the <strong>My Tags</strong> pane.</li>
            </ul>
            <p>You can use Ctrl and Command selection in both the <strong>My Accounts</strong> and <strong>My Tags</strong> panes to select specific tags from a specific set of accounts. Only transactions from one of the selected accounts that also have one of the selected tags will show up in the transaction list.</p>
        </div>
      </div>
    </div></div>
    <div class="bottom"><div class="right"></div></div>
  </div>
</div>
<%= render :partial => 'page/help_sidebar' %>
<div class="clear"></div>