<% set_page_title "Help - Managing Your Accounts" %>

<div id="right">
  <div class="two-column" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle"><div class="right">
    <div class="content">
      <div class="module-header">
        <h1>Managing your Accounts</h1>
        <h5 class="intro">This section of the manual contains instructions for deleting and archiving accounts.</h5>
      </div>
      <div class="indent1">

          <h3>Archiving an Account</h3>
          <p>Archiving an account removes its balance from your accounts list. The transactions remain in your spending and earning summaries, though. Archiving an account is useful for accounts that you have closed, where you want to keep the transactions for historical reasons but don't want the last reported balance to affect your total balance. </p>

            <p>To archive an account, log into Wesabe and then do the following:</p>
            <ol>
              <li>Click on the <strong>My Accounts</strong> tab to view your list of accounts.</li>
              <li>Click the <strong>Edit</strong> button at the top of the My Accounts panel. </li>
              <li>Click the edit button (the pencil icon) next to the account you'd like to archive. An edit panel will open.</li>
              <li>In the edit panel, click the <strong>Archive account</strong> checkbox, and then click <strong>Save</strong>.</li>
            </ol>
            <p>That will archive the account, and it will no longer appear in normal list of accounts.</p>

          <h3>Unarchiving an Account</h3>

            <p>To unarchive an account, log into Wesabe and then do the following:</p>
            <ol>
              <li>Click on the <strong>My Accounts</strong> tab to view your list of accounts.</li>
              <li>Click the <strong>Edit</strong> button at the top of the My Accounts panel. </li>
              <li>Click the edit button (the pencil icon) next to the account you'd like to unarchive. An edit panel will open.</li>
              <li>In the edit panel, click to uncheck the <strong>Archive account</strong> checkbox, and then click <strong>Save</strong>.</li>
            </ol>

          <h3>Deleting an Account from Your Wesabe Accounts Page</h3>

            <p>To delete the account from Wesabe do the following:</p>
            <ol>
              <li>Click on the <strong>My Accounts</strong> tab to view your list of accounts.</li>
              <li>Click the <strong>Edit</strong> button at the top of the My Accounts panel. </li>
              <li>Click the edit button (the pencil icon) next to the account you'd like to delete. An edit panel will open.</li>
              <li>In the edit panel, click the orange <strong>Delete Account</strong> button. You'll need to enter your password to verify the deletion of the account and all its data.</li>
            </ol>
            <p>Here's how to delete the account from the desktop uploader:</p>
            <ol>
              <li>Right-click (control-click on the Mac) the account you want to delete.</li>
              <li>Select <strong>Delete...</strong> from the pop-up menu.</li>
            </ol>
          <h3>Deleting Transactions</h3>
            <p>You may occasionally wish to delete a transaction. This is particularly useful if you ever see a duplicate transaction. To delete a transaction, do the following:</p>
            <ol>
                <li>Click on the <strong>My Accounts</strong> tab to view your list of accounts.</li>
                <li>Click on the account that has the transaction you want to delete.</li>
                <li>In the Transaction panel, click the edit button (the pencil icon). You may need to hover over the transaction before the edit button appears. An edit panel will open.</li>
                <li>In the edit panel, click <strong>Delete Transaction</strong>.</li>
            </ol>
          </div>
        </div>
        </div></div>
        <div class="bottom"><div class="right"></div></div>
      </div>
    </div>
    <%= render :partial => 'page/help_sidebar' %>
    <div class="clear"></div>