<% set_page_title "Help - Investments, Loans and Other Account Types" %>

<div id="right">
  <div class="two-column" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle"><div class="right">
    <div class="content">
      <div class="module-header">
        <h1>Investments, Loans, and Other Account Types</h1>
        <h5 class="intro">This section of the manual contains information about Wesabe&lsquo;s support of investments, loans, and other account types.</h5>
      </div>

      <div class="indent1">
          <h3>Investment Accounts</h3>

          <h3>Adding an Investment Account</h3>

          <p>You can add an investment account just as you would add any other account. All of the supported investment brokerages have <em>(Investment)</em> at the end of their name. Some investment brokerages are listed without <em>(Investment)</em> in their name. These may not work reliably, or at all.</p>

          <p>If your account is not supported for automatic upload, you can add it using manual upload or the Firefox Uploader. QIF and OFC statements are not currently supported, however. Let us know if you require one of those file formats for your investment accounts.</p>

          <p>Once an account is added, it will show up in your <strong>My Accounts</strong> panel with your other accounts. You can see your trading history in the transaction panel. Click the ticker symbol to go to the Google Finance page for more information.</p>

          <h3>Loans</h3>

          <p>Unfortunately we don&rsquo;t currently support loan accounts yet &#8211; we&rsquo;re currently focused on deposit accounts (checking, savings, money market) and credit accounts (credit line, credit card), and investment accounts. We do expect to add loan and mortgage accounts as soon as possible, though, since those are a significant part of many people&rsquo;s financial lives.</p>

          </div>
        </div>
      </div></div>
    <div class="bottom"><div class="right"></div></div>
  </div>
</div>
<%= render :partial => 'page/help_sidebar' %>
<div class="clear"></div>
