<% set_page_title "Help - Exporting Data" %>

<div id="right">
  <div class="two-column" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle"><div class="right">
    <div class="content">
      <div class="module-header">
        <h1>Exporting Data from Wesabe</h1>
        <h5 class="intro">This section of the manual contains information about exporting your data.</h5>
      </div>

      <div class="indent1">
        <h3>Exporting Data</h3>

        <p>You can export your data by doing the following:</p>
        <ol>
            <li>Click on the <strong>My Profile</strong> tab to view your profile options.</li>
            <li>Click <strong>Download</strong> My Data in the My Profile navigation panel.</li>
            <li>In the Download My Data panel, click either <strong>XML</strong> or <strong>CSV</strong> to download your transactions in that format.</li>
        </ol>
        <p>Additional export features and formats are coming soon.</p>
      </div>
    </div>
    </div></div>
    <div class="bottom"><div class="right"></div></div>
  </div>
</div>
<%= render :partial => 'page/help_sidebar' %>
<div class="clear"></div>