<% set_page_title "Help - Uploading Manually" %>

<div id="right">
  <div class="two-column" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle">
      <div class="right">
        <div class="content">
          <div class="module-header">
            <h1>Uploading Manually</h1>
            <h5 class="intro">This section of the manual contains information about uploading your information manually.</h5>
          </div>
          <div class="indent1">
            <h3>About Manual Uploading</h3>
            <p>Most banks are supported by one of our uploaders. If you want to update your account manually, either for privacy reasons or because you&rsquo;re having trouble with one of the uploaders, you can always go to your bank, download your account information to your computer, and then upload that account information to Wesabe.</p>
            <h3>Uploading Manually</h3>

            <p>First, <a href="/help/user-manual/downloading">download your account information from your bank's website.</a></p>

            <p>To create or update an account by manually uploading a file, do the following:</p>
            <ol>
              <li>Click on the <strong>My Accounts</strong> tab to view your list of accounts.</li>
              <li>Click on the <strong>Add an Account</strong> button.</li>
              <li>Select your bank or credit union.</li>
              <li>If the page asks you to enter your bank credentials, download the Firefox uploader, or download the Desktop uploader, then select the <strong>Manual Uploads</strong> link on the right side of the page.</li>
              <li>Click the <strong>Browse...</strong> button and navigate to the account information you downloaded.</li>
              <li>Click the <strong>Upload file</strong> button.
            </ol>

            <p>A faster way to manually update an existing account that isn't using the Automatic uploader is to upload the file on the <strong>My Accounts</strong> page. Here's how to do that:</p>
            <ol>
              <li>Click on the <strong>My Accounts</strong> tab to view your list of accounts.</li>
              <li>Hover over the name of the account you want to update and click the upload button that appears to the right of the account name and balance. The Manual Update panel will open.</li>
              <li>In the Manual Update panel, click the <strong>Browse...</strong> button and navigate to the account information you downloaded.</li>
              <li>Click Upload.</li>
            </ol>
            <p>Note: You'll need to use the first method if the account you'd like to manually update is set up in the Automatic uploader.
          </div>
        </div>
      </div>
    </div>
    <div class="bottom"><div class="right"></div></div>
  </div>
</div>
<%= render :partial => 'page/help_sidebar' %>
<div class="clear"></div>