<% set_page_title "Help - About the Uploaders" %>

<div id="right">
  <div class="two-column" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle"><div class="right">
    <div class="content">
      <div class="module-header">
       <h1>About the Uploaders</h1>
       <h5 class="intro">This would be any intro text for a section<h5>
      </div>
      <div class="indent1">
        <h3>The Automatic Uploader</h3>
        <p>To get started with the Automatic Uploader, sign into Wesabe. You'll see an <strong>Auto Upload Available</strong> link for all your accounts that are currently supported. When you click that link, you'll be led through the two-step process to enable your account. Or click <strong>Add an Account</strong> for any new account you want to upload to Wesabe, and you'll be prompted for your bank credentials if the account is supported.</p>
      </div>
      <div class="indent2">
        <h5>Unarchiving an Account</h5>
        <p>To unarchive an account, log into Wesabe and then do the following:</p>
        <ol>
          <li>Click on the <strong>Accounts</strong> tab to view your list of accounts.</li>
          <li>Click the name of the account you'd like to archive.</li>
          <li>Hover over the name of the account and click the Edit button that appears.</li>
          <li>Click Archive account.</li>
        </ol>
      </div>
      <div class="indent3">
        <h6>Step 1 of installing uploader</h6>
        <ul>
          <li>Click on the <strong>Accounts</strong> tab to view your list of accounts.</li>
          <li>Click the name of the account you'd like to archive.</li>
          <li>Hover over the name of the account and click the Edit button that appears.</li>
          <li>Click Archive account.</li>
        </ul>
      </div>
      <div class="indent4">
        <p class="side-note">A quick note to remember</p>
        <ol>
          <li>Click on the <strong>Accounts</strong> tab to view your list of accounts.</li>
          <li>Click the name of the account you'd like to archive.</li>
          <li>Hover over the name of the account and click the Edit button that appears.</li>
          <li>Click Archive account.</li>
        </ol>
      </div>
    </div>
    </div></div>
    <div class="bottom"><div class="right"></div></div>
  </div>
</div>
<%= render :partial => 'page/help_sidebar' %>
<div class="clear"></div>