<% set_page_title "Help - Search" %>

<div id="right">
  <div class="two-column" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle"><div class="right">
    <div class="content">
      <div class="module-header">
        <h1>Search</h1>
        <h5 class="intro">This section of the manual contains information about using search to find transactions.</h5>
      </div>

      <div class="indent1">

        <h3>Searching Accounts</h3>
        <p>Wesabe lets you make simple and quick searches.</p>

        <h5>Overview</h5>

        <p>You'll find the search field in the upper-right corner of your Accounts and Dashboard
        pages.  Type in your search term and you'll get results immediately.  The
        results you see will <strong>only</strong> include your own accounts &mdash; you'll
        never see anyone else&rsquo;s transactions, and of course, they won&rsquo;t see your
        transactions, either.</p>

        <p>You can search over any part of a transaction: the merchant or payee, amount, account, tags, or
        notes.  Any of your archived accounts will be included in your results, too.  The
        search results come back looking like any other transaction list in your Accounts
        tab, and you can edit the results any way you want.</p>

      </div>
    </div>
    </div></div>
    <div class="bottom"><div class="right"></div></div>
  </div>
</div>
<%= render :partial => 'page/help_sidebar' %>
<div class="clear"></div>
