<% set_page_title "Tour" %>

<div id="right">
  <div class="two-column" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle">
      <div class="right">
        <div class="content">
          <div class="module-header">

            <!-- BEGIN about -->
              <div id="about">
                <h1>Quick Tour of Wesabe</h1>
                <h3>
                  Wesabe is an innovative new way to manage your money and make good financial decisions.
                </h3>
                <img class="right" src="/images/tour-accounts.jpg"/>
                <p>
                    Wesabe is unique because it combines easy-to-use budgeting tools with a thriving community of
                    smart, supportive people, anonymously sharing ideas and advice with each other to help everyone
                    get more value for their money. And, your information stays private and completely secure, so you
                    can take advantage of Wesabe&rsquo;s many benefits without worry.
                  </p>
                  <p><strong>We provide a way for you to see all your accounts in one place</strong></p>
                  <p>Get a good idea of where you're spending your money</p>
                  <p><strong>Set spending targets or savings targets to help you budget</strong></p>
                  <img src="/images/tour-targets.jpg"/>

                  <p>That's Wesabe in a nutshell - but the best way to experience it is to sign up and see for yourself. Wesabe is free, so there's nothing to lose!</p>
              </div>
              <div class="clear">&nbsp;</div>
              <!-- END about -->
          </div>
        </div>
      </div>
    </div>
    <div class="bottom"><div class="right"></div></div>
  </div>
</div>
<%= render :partial => 'page/sidebar'%>

