<% @tab = 'accounts' -%>
<% set_page_title "Welcome to Wesabe!" %>

<%= stylesheet "welcome" %>

<div id="three-col-center">
  <div class="two-column flat" id="welcome">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle"><div class="right">
      <div class="content">
      <div class="module-header">
        <h4>Getting Started</h4>
      </div>
      <h6 id="welcome-header">To help you get the most out of Wesabe, we will be guiding <br/> you through the basics of uploading your accounts, editing your transactions, &amp; using tools such as setting spending targets.</h6>
      <div id="welcome-start">
        <a href="/uploads/new"><div class="start-button"></div></a>
      </div>
    </div>
    </div></div>
  <div class="bottom"><div class="right"></div></div>
  </div>
</div>

