<% set_page_title "What is Wesabe?" %>
<div id="right">
  <div class="two-column" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle">
      <div class="right">
        <div class="content">
          <div class="module-header">

            <!-- BEGIN about -->
              <div id="about">
                <h1>What is Wesabe?</h1>

                <strong>Wesabe is a community of real people dealing with real money issues.</strong>
                <p>We want to help you get rid of credit card
                  debt and start saving for college  for your kids. We are tired of getting stung by stupid
                  fees from  banks and credit cards. We believe  pooling information on where we all
                  spend can help you make better financial decisions and ultimately take control of
                  your money to reach financial goals.</p>
                <strong>We want you to <a href="/user/signup">join us.</a></strong>
                <p>Founded in December 2005, Wesabe is in San Francisco,
                  California. Our easy-to-use, Web-based software gives members a better
                  understanding of how they spend money. The Wesabe community shares tips
                  and advice to help each other make better financial decisions.</p>
              </div>
              <!-- END about -->

          </div>
        </div>
      </div>
    </div>
    <div class="bottom"><div class="right"></div></div>
  </div>
</div>
<%= render :partial => 'page/sidebar'%>




