<%# requires javascript "excanvas" for IE %>
<%# requires javascript "processing" %>
<%# requires javascript "wesabeCharts" %>

<div class="two-column" id="chart-sve">
  <div class="top"><div class="movable right"><div class="movable grip"></div></div></div>
  <div class="middle"><div class="right">
    <div class="content">
      <div class="module-header">
        <a class="toggle-button time-3"><span>1y</span></a>
        <a class="toggle-button time-2"><span>6m</span></a>
        <a class="toggle-button time-1"><span>3m</span></a>
        <a class="toggle-button time-0"><span>1m</span></a>

        <a class="toggle divider"></a>

        <a class="toggle line"></a>
        <a class="toggle vbar"></a>

        <h5>
          <font class="spending">Spending</font>
          vs
          <font class="earnings">Earnings</font>
        </h5>
      </div>
      <div id="sve-chart" class="canvas-container"></div>
    </div>
  </div></div>
  <div class="bottom"><div class="right"></div></div>
</div>
