<div id="footer" class="transparent">
  <div class="top"><div class="right"><div class="grip"></div></div></div>
  <div class="middle"><div class="right">
    <div class="content">
      <ul>
        <li><%= link_to "Wesabe on GitHub", "http://github.com/wesabe" %></li>
        <li><%= link_to "Wesabe Groups", "http://www.wesabe.com/groups" %></li>
      </ul>
      <div class="copyright">&copy;2006-<%= Time.now.year %> Wesabe, Inc.
      Distributed under <%= link_to "Apache License 2.0", "http://www.apache.org/licenses/LICENSE-2.0.html" %></div>
    </div>
  </div></div>
  <div class="bottom"><div class="right"></div></div>
</div>
<% if current_user -%>
<script type="text/javascript" charset="utf-8">
$(function(){ SessionTimer.start(); });
</script>
<% end -%>
