<div id="investment-header" style="display:none">
  <table id="investment-positions">
    <tr class="title"><td colspan="4">Positions</td></tr>
    <tr class="header"><th>Security</th><th class="amount">Units</th><th class="amount">Unit Price</th><th class="amount">Total</th></tr>
    <tr class="subtotal market-value"><td colspan="3" class="amount">Market Value</td><td id="market-value" class="amount"></td></tr>
    <tr class="subtotal available-cash"><td colspan="3" class="amount">Available Funds</td><td id="available-cash" class="amount"></td></tr>
    <tr class="subtotal account-value"><td colspan="3" class="amount">Account Value</td><td id="account-value" class="amount"></td></tr>
  </table>
</div>